<div style="max-width: 720px; margin-left: auto !important;margin-right: auto !important;">
    <form [formGroup]="frmPersonel">

        <div class="form-group">
            <label for="ad">Ad</label>
            <input class="form-control" type="text" pInputText formControlName="ad" />
        </div>
        <div class="form-group">
            <label for="ad">Soyad</label>
            <input class="form-control" type="text" pInputText formControlName="soyad" />
        </div>
        <div class="form-group">
            <label for="ad">E-Posta</label>
            <input class="form-control" type="text" pInputText formControlName="ePosta" />
        </div>
        <div class="form-group">
            <label for="ad">Ünvvan</label>
            <p-dropdown formControlName="unvanId" [options]="unvanList" optionLabel="ad" optionValue="id" placeholder="" />
        </div>
    </form>
</div>